<% layout('layouts/boilerplate')%>

<div class="row">
    <h1 class="text-center">New Spot</h1>
    <div class="col-md-6 offset-md-3 mb-3">
        <div class="card shadow">
            <div class="card-body">
                <form action="/spots" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" id="title" name="spot[title]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="locationCityProv">Location (City, Province)</label>
                        <input class="form-control" type="text" id="locationCityProv" name="spot[locationCityProv]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="locationAddress">Street Address</label>
                        <input class="form-control" type="text" id="locationAddress" name="spot[locationAddress]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="file" name="image" multiple>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="funds">Required Funds</label>
                        <div class="input-group">
                            <span class="input-group-text" id="funds-label">$</span>
                            <input type="number" class="form-control" id="funds" name="spot[funds]" placeholder="0" aria-label="Funds"
                             aria-describedby="funds-label" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" id="description" name="spot[description]" required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-success mb-3">Add Spot</button>
                    </div>
                </form>
                <div class="d-grid">
                    <a class="btn btn-primary mb-3" href="/spots">All Spots</a>
                </div>
            </div>
        </div>
    </div>
</div>